header {
  margin: 0;
  font-size: 22px;
  font-family: Helvetica;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  position: fixed;
  background-color: black;
  z-index: 1;
}
body{

  flex-direction: column;
  align-items: center;
  display: flex;
  padding-top:0px;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
.logo img{
  max-height: 50px;
  display: block;
  padding-left: 10px;
}
.links {
  text-decoration: underline;
  padding-left: 20px;
  padding-right: 20px;
  color: seashell;
}
a:link {
  color: seashell;
}
a:visited {
  color: seashell;
}
#mission {
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display:flex;
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg")
}
#mission h2{
  margin: 0;
  width: 1200px;
  background-color: black;

}
#mission h4{
  margin: 0;
  width: 1200px;
  background-color: black;
}
.specials {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
div.sp img {
  maring: 10px;
  height: 200px;
  width: 300px;
}
div.sp h4 {
  /*margin: 10px;*/
}
#locations {
  padding-top: 70px;
  width: 1200px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  background-size: 100%;
}
div.addresses {
  display: flex;
  justify-content: space-evenly;
}
.addresses div {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
  margin-top: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  height:300px;
  width: 300px;
 background-color: black;
}
.contact {
  height: 200px;
  display: block;
}
footer {
  width: 100%;
  margin-left: 20px;
  text-align: left;
}
#copy {
  margin-left: 20px;
}
